body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: #f0f0f0;
    color: #333;
    transition: background 0.3s, color 0.3s;
  }
  
  /* Navbar styling */
  .navbar {
    position: fixed;
    top: 40px;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    transition: background 0.3s, color 0.3s, top 0.3s, left 0.3s, right 0.3s, padding 0.3s, margin 0.3s, box-shadow 0.3s;
    z-index: 1000;
  }
  
  .navbar.sticky {
    background: #0C0C27;
    color: #ff4081;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  /* Section styling */
  .section {
    height: 100vh;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section:nth-child(odd) {
    background: #f0f0f0;
  }
  
  .section:nth-child(even) {
    background: #e0e0e0;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  /* Dark mode styling */
  body.dark-mode {
    background: #1a1a1a;
    color: #eaeaea;
  }
  
  body.dark-mode .navbar {
    background: #333;
    color: #ff4081;
  }
  
  body.dark-mode .navbar a {
    color: #eaeaea;
  }
  
  body.dark-mode .section:nth-child(odd) {
    background: #1a1a1a;
  }
  
  body.dark-mode .section:nth-child(even) {
    background: #2a2a2a;
  }
  


/* Add these styles to your styles.css file */
#name-placeholder {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .navbar .logo a {
    transition: all 0.5s ease-out;
  }
  
  .navbar .logo a.animate {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-out;
    z-index: 1000;
  }
  
  .navbar .logo a.hide {
    opacity: 0;
  }
  
  